:root {
    --lightGrey: #cccccc;
    --grey: #999999;
    --darkGrey: #333333;
    --black: #000000;

}



/* ------------- Header ------------- */
body:nth-child(2) > header {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
    padding: 10px 20px;
    height: 50px;
    background-color: var(--lightGrey);
}

nav {
    visibility: hidden;
    height: 0;

}

/* Hamburger menu to be added to mobile first option */



/* ------------- Main ------------- */
body{
    height: 100%;
}

h3 {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 10px;
}

main {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

main header {
    font-weight: bolder;
    text-align: left;
    padding: 8px;
}

main h4 {
    font-style: italic;
    font-weight: bold;
    padding: 5px;
}

main article {
    margin: 10px;
    padding: 10px;
    border: 3px solid var(--black);
}

main p {
    padding-bottom: 15px;
}


aside {
    visibility: hidden;
    height: 0;
}



/* ------------- Footer ------------- */

body:nth-child(2) > footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    height: 80px;
    background-color: var(--lightGrey);
    margin-top: 40px;


}



/* ------------- DeskTop Layout ------------- */



@media screen and (min-width: 1200px) {

    /* ------------- DeskTop-Header ------------- */
    body:nth-child(2) > header {
        justify-content: center;
        font-size: 1.5em;
    }

    nav {
        visibility: visible;
        height: auto;
        padding: 20px;
    }
    nav > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    /* ------------- DeskTop-Main ------------- */


    /* Create two containers that have the aside on the right */

    h3 {
        text-align: center;
    }

    main header {
        text-align: center;
    }

    main {
        height: 100%;
        margin: auto;
        align-items: stretch;
        width: 80%;
        flex-direction: row;
        border: 2px solid purple;
    }

    article {
        display: flex;
        flex-direction: column;
        /*flex-flow: wrap;*/
        flex-basis: 45%;

    }

    .main-content {
        justify-content: space-between;
        display: flex;
        border: 1px solid red;
        flex-direction: row;
        flex-wrap: wrap;


    }

    aside {
        min-width: 250px;
        width: auto;
        display: flex;
        flex-direction: column;
        visibility: visible;
        height: auto;
        border: 2px solid black;
        margin: 0 0 0 20px;
        padding: 10px;
    }




    /* ------------- DeskTop-Footer ------------- */

    footer {

        margin-top: 40px;
        font-size: smaller;
    }


}