:root {
    --lightGrey: #cccccc;
    --grey: #999999;
    --darkGrey: #333333;
    --black: #000000;
}


/* ------------- Header ------------- */
body:nth-child(2) > header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    background-color: var(--lightGrey);
}

nav {
    visibility: hidden;
    height: 0;
}



/* ------------- Main ------------- */




/* ------------- Footer ------------- */